.news
  ._leftside 
    img(src="./velo.png", alt="velo")
    .lefttext
      h6 It’s all going downhill
      p 24  AUGUST 2013
      p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
  .rightnews
    img(src="./sity.png", alt="city")
    .righttext 
      h6 <span>24</span> aug
      p THIS IS THE TITLE
      p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      button ADD TO CALENDAR