$colorback: #e5e5e5;
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -2vw;
  
}
.inputsubmit input  {
  background-color: #4eb7a8;
  border: 1px solid #4eb7a8;
  border-bottom: 4px solid #28a290;
  width: 9vw;
  height: 2.5vw;
  border-radius: 3px;
  position: relative;
  left: 9.5vw;
  font-size: 1.5vw;
  bottom: 1vw;
  
}
.inputname input {
  width: 14vw;
  height: 2.5vw;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.6vw;
  background-color: $colorback;
}
.inputmail input {
  width: 14vw;
  height: 2.5vw;
  margin-bottom: 20px;
  font-size: 1.6vw;
  background-color: $colorback;
}
.inputtext textarea {
  width: 18vw;
  resize: none;
  margin-bottom: 20px;
  font-size: 1.3vw;
  background-color: $colorback;
}