p Ведь даже такие компании как: "Рога и Копыта","Шмугл","Груша-Лимитед", оценили нас на высшем уровне.
.PieChart
  #circle <strong>97</strong>
  #circle2 <strong>95</strong>
  #circle3 <strong>99</strong>
  .container
    .sector
    
