.maps {
  background-color: #e75735;
  width: 43.8vw;
  height: 20vw;
  margin-top: 1vw;
  margin-left: 5vw;

}
.mapstext {
  display: flex;
  justify-content: flex-start;
  color: #fff;
}
.mapstext h6 {
  margin: 0px;
  width: 11vw;
  height: 3vw;
  font-size: 2.5vw;
  margin-top: 0.5vw;
  margin-left: 1.5vw;
  margin-right: 2.5vw;
}
.mapstext p {
  margin: 0px;
  font-size: 1vw;
  width: 11vw;
  height: 4vw;
  line-height: 0.9;
  margin-top: 1.2vw;
  
}
.icons {
  margin-left: 9vw;
  width:8vw;
  height: 4vw;
  margin-bottom: 1vw;
  
}
.icons svg {
  margin-right: 2vw;
  height: 2.5vw;
  width: 2.5vw
}

.maps iframe {
  width: 43.5vw;
  height: 15vw  ;
  font-size: 2vw;
}
@media (max-width: 650px){
  .mapstext {
    display: none;
  }
  .maps iframe {
    width: 43.5vw;
    height: 20vw  ;
    font-size: 2vw;
  }
}