.chat {
  width: 22vw;
  height: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  font-size: 1vw;
}
.namehere h3 {
  text-align: center;
}
.photo {
  width: 18vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
}
.photo img {
  position: relative;
  width: 7vw;
  height: 7vw;
  bottom: 3vw;
}
.photo svg {
  margin-top: 0.7vw;
}
.namehere {
  width: 22vw;
  height: 5vw;
  border-bottom: 35px solid #46ab9d;
  background-color: #4eb7a8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 2.2vw;
  color: white;
}
.namehere h3 {
  margin-top: 1.5vw;
}
.chatup {
  width: 18vw;
  height: 5vw;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 18px;
  align-items: center;
  text-align: center;
  margin-top: 2vw;
}
.chatdown {
  width: 18vw;
  height: 5vw;
  background-color: #e5e5e5;
  border: 2px solid white;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  margin-top: 2vw;
}
.chatup p {
  width: 12vw;
  text-align: center;
  margin-left: 35px;
}
.chatdown p {
  width: 12vw;
  text-align: center;
  margin-left: 35px;
}
.chat button {
  height: 2.5vw;
  width: 18.2vw;
  background-color: #4eb7a8;
  color: white;
  border-bottom: 2px solid #28a290;
  border-radius: 5px;
  font-size: 1.3vw;
  margin-right: 0.5vw;
  margin-top: 2vw;
}