.buttons
  #menu
    ._buttons_standart
      ._buttons_standart_big 
        a(href="#yak1")
          button.blue.ripple Главная
        a(href="#yak2")
          button.blue.ripple О компании
        a(href="#yak3")
          button.blue.ripple Контакты
        a(href="#yak4")
          button.blue.ripple Чат  
